<!DOCTYPE html>
<html>
  <head>
    <title> About Active Force Training</title>
    {% include "/css/bootstrap.html"%}
  </head>
  <body>
    {% include "/navigation/navbar.html"%}
    <h1 class="text-center" style="margin-top:40px;">About Active Force!</h1>
    <div class="text-center">
      
      <div class="container img-fluid" style="padding:100px; font-size:21px;">
        <p>Active Force is a Health and Fitness company that is meant to help people within a 
        specific location connect with Fitness Instructors and/or book for a training session. The website also proves other services such as Exercise programs and Diet plans.</p>
      </div>

      <div class="container">
        <img src = "/static/activeforce.jpeg" height=auto width=50% >
      </div>
    </div>
    {% include "/navigation/footer.html"%}
  </body>
</html>