<!DOCTYPE html>
<html>
  <head>
    <title>Become a member</title>
    {%include "/css/bootstrap.html"%}
  </head>
  <body>
      {%include "/navigation/navbar.html"%}
    <div class="text-center">
        <h3 style="margin-top:40px;">Become a member</h3>
        <h2 class="mt-4">Please Fill in Your Details</h2>
          {%include "/forms/membership_booking.html"%}
        <img src="/static/activeforce.jpeg" style="height:560px;width:auto;margin-top:80px;" >
    </div>
      {%include "/navigation/footer.html"%}
  </body>
</html>