<div class="text-center">
    <form action="/membership/apply" method="post">
      <label>
        <h5>Full Name</h5>
      </label><br>
      <input type="text" name="_name" placeholder="Chris"><br>
      <label>
        <h5>Age</h5>
      </label><br>
      <input type="number" name="_age" placeholder="38"><br>
      <label>
        <h5>Email</h5>
      </label><br>
      <input type="email" name="_email" placeholder="Chris@gmail.com"><br>
      <label>
        <h5>Create Password</h5>
      </label><br>
      <input type="text" name="_pass" placeholder="HelloKitty123"><br>
      <input style="margin-top:15px;" type="submit">
  </form>
</div>