<!DOCTYPE html>
<html>
  <head>
    <title> About Active Force Training</title>
    {% include "bootstrap.html"%}
  </head>
  <body>
    {% include "navbar.html"%}
    <h1 class="text-center mb-4">About Active Force!</h1>
    <div class="text-center">
      <div class="container">
        <img src = "/static/activeforce.jpeg" >
      </div>
      <div class="container img-fluid" style="padding:100px; font-size:21px;">
        <p> Force Active is a Health and Fitness company that is meant to help people within a 
        specific location connect with Fitness Instructors and/or book for a training session. The website also proves other services such as Exercise programs and Diet plans. The CEO, Chris Sibusiso Majuba is a BSc in Mathematical Sciences Graduate and a Qualified Personal Trainer, his soul goal is to create a community of healthy individuals working hand in hand and striving for success.</p>
      </div>
    </div>
    {% include "footer.html"%}
  </body>
</html>