
<!DOCTYPE html>
<html>
  <head>
      <title>{{_info}}</title>
      {%include "bootstrap.html"%}
  </head>
   
  <body>
      {%include "navbar.html"%}
      <img src ="/static/activeforce.jpeg" style="height:360px; width:100%;object-fit:cover; margin-left:60px"class="container">
      <div class="text-center">
          <h1 class="mt-4">{{_info}} Bookings</h1><br>
      </div>
      <div class="row container mx-5"">
          <div class="col-6" style="padding:10px;">
            <h2>Please Fill in Your Details</h2>
            {%include "booking_form.html"%}
          </div>
        
          <div class="col-6">
          {%if _info=="Mapetla Park":%}
            <img src="/static/park1.jpg" style="height:270px; width:auto; margin-top:55px;">
          {%elif _info=="Tokoza Park":%}
              <img src="/static/park2.jpg" style="height:270px; width:auto;">
          {%elif _info=="Protea Glen Park":%}
              <img src="/static/park3.jpg" style="height:270px; width:auto;">
          {%endif%}
        </div>
      </div>
      {%include "footer.html"%}
  </body>
</html>