<!DOCTYPE html>
<html>
  <head>
    <title>Diet Plans</title>
    {%include "bootstrap.html"%}
  </head>
  <body>
      {%include "navbar.html"%}
      <div class="text-center">
        <h3 class="mb-4">Dieting</h3>
        <img src="/static/diet.jpg" style="height:560px;width:auto">
          <h1 class="mt-4">Available Diet Plans</h1><br>
      </div>
      <div class="row g-2 container mx-5">
          <div class="col-3">
            <h4> The ketogenic diet</h4>
          </div>
          <div class="col-6">
            <p>The ketogenic diet allows us to survive on without food intake or on very low (down to virtually zero) carbohydrates for long periods of time. Ideal for people trying to lose weight.</p>
          </div>
          <div class="col-3">
             <a href class="ms-4">For more</a>
          </div>
        <div class="col-3">
            <h4>The Clean Eating Diet</h4>
          </div>
          <div class="col-6">
            <p>Clean eating is based on the principle of eating whole, natural unprocessed foods.</p>
          </div>
          <div class="col-3">
            <a href class="ms-4">For more</a>
          </div>
      </div>
      {%include "footer.html"%}
  </body>
</html>