<!DOCTYPE html>
<html>
  <head>
    <title>Diet Plans</title>
    {%include "bootstrap.html"%}
  </head>
  <body>
      {%include "navbar.html"%}
      <div class="text-center">
        <h3 class="mb-4">Dieting</h3>
        <img src="/static/diet.jpg" style="height:560px;width:auto">
          <h1 class="mt-4">Available Diet Plans</h1><br>
      </div>
      <div class="row container mx-5 text-center">
         
          <div class="col-6" style="padding:10px;">
            
          </div>
          <div class="col-6">
          
          </div>
      </div>
      {%include "footer.html"%}
  </body>
</html>