<!DOCTYPE html>
<html>
  <head>
    <title> Active Force</title>
    {% include "bootstrap.html"%}
  </head>
  <body>
    <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary"></div>
    {% include "navbar.html"%}
    <h1 class="text-center mb-4"> Active Force!</h1>
    <div class="container text-center ">
        <img src = "/static/activeforce.jpeg" height=auto width=50% style="object-fit:cover;">
      <div style="padding:100px; font-size:21px;">
        <p>Active Force is a Health and Fitness company that is meant to help people within a 
        specific location connect with Fitness Instructors and/or book for a training session. The CEO, Chris Sibusiso Majuba is a BSc in Mathematical Sciences Graduate and a Qualified Personal Trainer, his soul goal is to create a community of healthy individuals working hand in hand and striving for success.</p>
      </div>
    </div>
    <div class="container" style="font-size:21px; margin-bottom:80px;">
      <h3 class="text-center"> How it Works</h3>
       <ul>
         <li>Below are available locations where our Group Exercise Instructors host exercising sessions at local Parks.
         </li>
         <li>These Sessions are 60-Minutes long.
         </li>
         <li>
           Cardio, Bodyweight exercises, Functional training, strength training and many more will be covered.  
         </li>
       </ul>
    </div>
    <div class="text-center" >
      {%include "locations.html"%}
      {% for info in data %}
        {%include "trainers.html"%}
      {% endfor %}
      {%include "footer.html"%}
    </div>
        </body>
</html>