<!DOCTYPE html>
<html>
  <head>
    <title> Active Force Training</title>
    {% include "bootstrap.html"%}
  </head>
  <body>
    {% include "navbar.html"%}
    <h1 class="text-center mb-4"> Active Force!</h1>
    <div class="container text-center row">
      <div class="col-6">
        <img src = "/static/activeforce.jpeg" >
      </div>
      <div class="col-6 img-fluid" style="padding:100px; font-size:21px;">
        <p>Active Force is a Health and Fitness company that is meant to help people within a 
        specific location connect with Fitness Instructors and/or book for a training session. The CEO, Chris Sibusiso Majuba is a BSc in Mathematical Sciences Graduate and a Qualified Personal Trainer, his soul goal is to create a community of healthy individuals working hand in hand and striving for success.</p>
      </div>
    </div>
    <div class="container" style="font-size:21px; margin-bottom:80px;">
      <h3> How it Works</h3>
       <ul>
         <li>Below are available locations where our Group Exercise Instructors host exercising sessions at local Parks.
         </li>
         <li>These Sessions are 60-Minutes long.
         </li>
         <li>
           Cardio, Bodyweight exercises, Functional training, strength training and many more will be covered.  
         </li>
       </ul>
    </div>
    <div >
      {%include "locations.html"%}
      {% for info in data %}
        {%include "trainers.html"%}
      {% endfor %}
      {%include "footer.html"%}
      </div>
        </body>
</html>