<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Programs</title>
    {%include "bootstrap.html"%}
  </head>
  <body>
      {%include "navbar.html"%}
      <div class="text-center" style="margin-bottom:40px;">
        <h3 class="mb-4">Exercise Programs</h3>
        <img src="/static/toning.jpg" style="height:560px;width:auto">
          <h1 style="margin-top:40px;">Available Exercise Programs</h1>
      </div>
      <div class="row g-2 container text-center" style="padding:10px;">
          <div class="col-4">
            <h4>Strength Training</h4>
          </div>
          <div class="col-4" >
             <h3>Benefits</h3>
               <ul>
                <li>Strength training helps you become stronger.</li>
                <li>Burns calories efficiently.</li>
                <li>Makes your bones stronger.</li>
              </ul>
          </div>
          <div class="col-4">
              <a  href="#"  style="padding:100px;">Download</a>
          </div>  
          <div class="col-4">
            <h4>Weight Lose Training</h4>
          </div>
          <div class="col-4" style="padding:10px;">
             <h3>Benefits</h3>
               <ul>
                <li>This will reduce a significant amount of Fat.</li>
                <li>Lower blood pressure due to the amount of Cardio involved.</li>
                <li>Improved mood because as your body changes, you gain confidence.</li>
              </ul>
          </div>
          <div class="col-4">
              <a href="#"  style="padding:100px;">Download</a>
          </div>  
          
      </div>
      {%include "footer.html"%}
  </body>
</html>