<!DOCTYPE html>
<html>
  <head>
    <title> Application Submitted</title>
    {%include "bootstrap.html"%}
  </head>
  <body>
    {%include "navbar.html"%}
    <div class="container">
      <h1 class="text-center mb-4"> Application successfully sent!</h1>

      {%if string =="session" %}
        <p class="text-center" style="font-size:20px;">An email has been sent to {{data["_email"]}} with a code for your tickets.</p>
      {%elif string =="membership" %}
         <p class="text-center" style="font-size:20px;">An email has been sent to {{data["_email"]}}. Your Membership application will be verified soon and we will contact you within 3 working days.</p>
      {%endif%}
    </div>
    {%include "footer.html"%}
    <div>
      
    </div>
  </body>
</html>